attrs==21.4.0
certifi==2022.6.15
click==8.1.3
click-plugins==1.1.1
cligj==0.7.2
cycler==0.11.0
decorator==4.0.10
entrypoints==0.2.2
fiona==1.8.21
fonttools==4.33.3
geopandas==0.11.0
ipykernel==4.5.0
ipython==5.1.0
ipython-genutils==0.1.0
ipywidgets==5.2.2
jinja2==2.8
joblib==1.1.0
jsonschema==2.5.1
jupyter==1.0.0
jupyter-client==4.4.0
jupyter-console==5.0.0
jupyter-core==4.2.0
kiwisolver==1.4.3
markupsafe==0.23
matplotlib==3.5.2
mistune==0.7.3
munch==2.5.0
nbconvert==4.2.0
nbformat==4.1.0
nbstripout==0.5.0
notebook==4.2.3
numpy==1.22.0
packaging==21.3
pandas==1.4.2
pep517==0.12.0
pexpect==4.2.1
pickleshare==0.7.4
pillow==9.1.1
pip-tools==6.6.2
prompt-toolkit==1.0.7
ptyprocess==0.5.1
pygments==2.1.3
pyparsing==3.0.9
pyproj==3.3.1
python-dateutil==2.8.2
pytz==2022.1
pyzmq==16.0.0
qtconsole==4.2.1
scikit-learn==1.1.1
scipy==1.8.1
seaborn==0.11.2
shapely==1.8.2
simplegeneric==0.8.1
six==1.10.0
terminado==0.6
threadpoolctl==3.1.0
tomli==2.0.1
tornado==4.4.2
traitlets==4.3.1
wcwidth==0.1.7
wheel==0.37.1
widgetsnbextension==1.2.6
